<header class="header">
  <div class="header-logout">
    <form class="header-logout-c"(ngSubmit)="logout()" *ngIf="isTokenPresent()">
      <button class="header-logout-c-button"type="submit">Logout</button>
    </form>
    <div class="header-logout-c" *ngIf="isTokenPresent()"> 
      <button class="header-logout-c-button"[routerLink]="'/library'">Volver a Libreria</button>
    </div>
  </div>
  <div class="header-logout-c" *ngIf="isTokenPresent() && userData">
    <button class="header-logout-c-p" [routerLink]="'/library/favorites'">Usuario: {{ userData.email }}</button>
    <app-avatar></app-avatar>
  </div>
</header> 