
<footer class="footer">
  <ul class="footer-container">
    <li class="footer-container-item">  
      <img class="footer-container-item-library" src=""/> 
    </li>
    <li class="footer-container-item-p">
      <p class="footer-container-item-p-parag" >Inmortal`s Team&copy;2024 | All Rights Reserved</p>
    </li>
    <li class="footer-container-item-upgrade">
      <img class="footer-container-item-upgrade-img" sizes="310x310" src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710578501/Varios/LOGOTIPO_UPGRADE-01_m9sqot.png" alt="upgrade-logo"/> 
    </li>
  </ul>
</footer>


