<!-- <footer class="footer">
  <ul class="footer-container">
    <li class="footer-container-item">
      <img class="footer-container-item-library" src="" />
    </li>
    <li class="footer-container-item-p">
      <p class="footer-container-item-p-parag">
        Inmortal`s Team&copy;2024 | All Rights Reserved
      </p>
    </li>
    <li class="footer-container-item-upgrade">
      <img
        class="footer-container-item-upgrade-img"
        sizes="310x310"
        src=""
        alt="upgrade-logo"
      />
    </li>
  </ul>
</footer> -->
<footer class="footer">
  <div class="footer-button"></div>
  <div class="footer-container">
    <div class="footer-container-cont">
      <div class="footer-container-cont-main">
        <h4 class="footer-container-cont-main-h4">Inmortal`s Team&copy;2024 | All Rights Reserved</h4>
        <img class="footer-container-cont-main-img" src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710585448/Varios/github_pgpuow.svg">
        <ul class="footer-container-cont-main-ul">
          <li><a href="https://github.com/AlbertoGarciaRecio" target="_blank" title="GitHub Alberto Gracia Recio">GitHub Alberto Gracia Recio</a></li>
          <li><a href="https://github.com/dcampos78" target="_blank" title="GitHub David Campos Pousa">GitHub David Campos Pousa</a></li>
          <li><a href="https://github.com/JorgeHdez153FS" target="_blank" title="GitHub Jorge Hernandez Cañas">GitHub Jorge Hernandez Cañas</a></li>
          <li><a href="https://github.com/POEMAMAN" target="_blank" title="Luis Campos Pousa">GitHub Luis Campos Pousa</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer> 
