<div class="main-container">
  <h2 class="main-title">Immortal`s Movies Hub</h2>
  <p class="main-parragraph">
    Aqui podras descubrir todo lo que siempre quisiste saber sobre tus sagas de peliculas preferidas.
  </p>
  <p class="main-parragraph">
  </p>
  <menu class="main-menu">
      <button class="main-menu-button"[routerLink]="'/auth/login'">Login</button>
      <button class="main-menu-button"[routerLink]="'/auth/register'">Register</button>
  </menu>
</div>
<div class="container">

  <div class="card card-1" #card></div>

  <div class="card card-2" #card></div>

  <div class="card card-3" #card></div>

  <div class="card card-4" #card></div>

  <div class="card card-5" #card></div>
</div>


