* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0a0a0a;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    overflow: hidden;
  }
  
  .card {
    width: 8rem;
    cursor: pointer;
    height: 50rem;
    border-radius: 5rem;
    transition: all .7s ease;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .card.active {
    width: 80rem;
  }
  
  .card-1 {
    background-image: url("https://images.unsplash.com/photo-1506462313968-6a1f37574ec6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80");
  }
  
  .card-2 {
    background-image: url("https://images.unsplash.com/photo-1530490939138-7e3b2de4cd9f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1077&q=80");
  }
  
  .card-3 {
    background-image: url("https://images.unsplash.com/photo-1496814801204-280c839ea15a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=867&q=80");
  }
  
  .card-4 {
    background-image: url("https://images.unsplash.com/photo-1610011722905-a2d4b5fca8c0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  }
  
  .card-5 {
    background-image: url("https://images.unsplash.com/photo-1664747477807-566fbc875bdc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
  }