<div class="main-container">
  <h2 class="main-title">Inmortal`s Movies Hub</h2>
  <menu class="main-menu">
    <button class="main-menu-button" [routerLink]="'/auth/login'">Login</button>
    <button class="main-menu-button" [routerLink]="'/auth/register'">Register</button>
    <button class="main-menu-button" [routerLink]="'/chats'">Chat</button> 
  </menu>
</div>
<div class="main-descripcion">
  <p class="main-descripcion-p">
  Aqui podrás explorar tus sagas de películas preferidas.
</p>
</div>
<div class="wrapper">
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710359118/Dune/Backgrounds/dune-01_jvxkb3_m35kii.jpg"
    />
    <h2 class="card-h2">Dune</h2>
    <span></span>
    <p class="card-p">
      La saga de películas Dune está basada en la serie de novelas escritas por
      Frank Herbert, ambientadas en un futuro lejano, donde la especia, la
      melange domina el universo, y solo se puede extraer de Dune.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710329546/HarryPotter/Backgrounds/trio_vmjb5n.jpg"
    />
    <h2 class="card-h2">Harry Potter</h2>
    <span></span>
    <p class="card-p">
      La serie de películas de Harry Potter, basada en la serie de libros del
      mismo nombre escrita por J.K. Rowling, es una saga épica de aventuras,
      magia y amistad que sigue la vida de un joven mago llamado Harry Potter y
      sus amigos mientras asisten a la escuela de magia y hechicería de Hogwarts
      y luchan contra el malvado mago Lord Voldemort
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1711355621/resto%20spring/El-Senor-de-los-Anillos_ym7mot.webp"
    />
    <h2 class="card-h2">El señor de los Anillos</h2>
    <span></span>
    <p class="card-p">
      La sextalogía cinematográfica de "El Señor de los Anillos", basada en la
      obra literaria de J.R.R. Tolkien, es una epopeya de fantasía que sigue las
      aventuras de un grupo diverso de personajes mientras luchan contra las
      fuerzas del mal en la Tierra Media.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710510527/Alien/Characters/Queen_Alien_rxlrwh.jpg"
    />
    <h2 class="card-h2">Alien</h2>
    <span></span>
    <p class="card-p">
      La saga de películas Alien es una serie de películas de ciencia ficción y
      terror que comenzó en 1979 con la película "Alien", dirigida por Ridley
      Scott. Posteriormente se realizaron dentro de esta etapa hasta 3
      peliculas. Mas tarde se iniciaron dos nuevas ramas, los crossver con la
      saga de Depredador y la saga de Prometheus
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710580772/Crepusculo/Backgrounds/UVM2WYH7WFKNVP62TGO5S675QI_aqyy4s.avif"
    />
    <h2 class="card-h2">Crespúsculo</h2>
    <span></span>
    <p class="card-p">
      La saga de películas "Crepúsculo" está basada en la serie de libros del
      mismo nombre escrita por Stephenie Meyer. Es una historia de romance y
      fantasía que sigue la vida de Bella Swan, una joven que se muda a Forks,
      Washington, y se enamora de un vampiro llamado Edward Cullen.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710519378/IndianaJones/Background/INDIANA_3_jnlx27.jpg"
    />
    <h2 class="card-h2">Indiana Jones</h2>
    <span></span>
    <p class="card-p">
      La saga de películas de Indiana Jones es una serie de aventuras
      cinematográficas creadas por George Lucas y dirigidas por Steven
      Spielberg, que siguen las peripecias del arqueólogo y aventurero Indiana
      Jones en su búsqueda de artefactos antiguos y enfrentamientos con
      villanos.
    </p>
  </div>
  <div class="card" #card>
    <img src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710441774/JuegosDelHambre/Backgrounds/Background_PajarosSerpientes_diugem.jpg" />
    <h2 class="card-h2">Los Juegos del Hambre</h2>
    <span></span>
    <p class="card-p">
      La saga de películas "Los Juegos del Hambre", basada en la trilogía de
      novelas del mismo nombre escrita por Suzanne Collins, es una serie
      distópica que sigue la lucha de Katniss Everdeen contra un gobierno
      totalitario en un mundo postapocalíptico.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710583124/Star%20Wars/Background/dcWdpwakihNRDydR4c9baL-1200-80_ffmgxo.jpg"
    />
    <h2 class="card-h2">Star Wars</h2>
    <span></span>
    <p class="card-p"> 
      La saga de "Star Wars" es una epopeya de ciencia ficción que se desarrolla en una galaxia muy, muy lejana, creada por
      George Lucas. La serie sigue las aventuras de diversos personajes en su lucha contra el Imperio Galáctico, los Sith y
      otras fuerzas oscuras, mientras luchan por restaurar la paz y la justicia en la galaxia.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710581721/Jurassic%20Park/background/jurassic-park-pelicula-1993-steven-spielberg-curiosidades-1655409964_xe64sb.webp"
    />
    <h2 class="card-h2">Parque Jurásico</h2>
    <span></span>
    <p class="card-p">
      La saga de películas de "Jurassic Park", creada por Michael Crichton y adaptada al cine por Steven Spielberg, es una serie de películas de ciencia ficción que se centran en la creación y los peligros de parques temáticos llenos de dinosaurios clonados mediante ingeniería genética. 
    </p>
  </div>
  <!-- //Spring 2// -->
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710585562/misionImposible/background/mision-imposible-fallout_29_w1k2bo.webp"
    />
    <h2 class="card-h2">Misión Imposible</h2>
    <span></span>
    <p class="card-p">
      La saga de películas "Misión: Imposible" es una serie de películas de acción y espionaje protagonizadas por el actor Tom Cruise como Ethan Hunt, un agente de la Fuerza de Misión Imposible (FMI), una organización encargada de llevar a cabo misiones secretas y peligrosas para proteger al mundo de amenazas terroristas y criminales.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710585164/ApesPlanet/background/propiedades-fox-que-va-adquirir-disney-su-compra_7_awmfi9.webp"
    />
    <h2 class="card-h2">El Planeta de los Simios</h2>
    <span></span>
    <p class="card-p">
      La historia comienza con un astronauta llamado George Taylor y su tripulación que viajan a través del espacio en una misión de exploración. Sin embargo, se estrellan en un planeta desconocido que resulta ser habitado por simios inteligentes que dominan a una población de humanos primitivos. 
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710584544/startrek/background/kmZSqddQFUohgnSFqRtbL3-1200-80_ahtsgc.jpg"
    />
    <h2 class="card-h2">Star Trek</h2>
    <span></span>
    <p class="card-p">
    "Star Trek" es una franquicia de ciencia ficción que abarca películas, series de televisión, libros, cómics y más. La historia de "Star Trek" se sitúa en un futuro en el que la humanidad ha alcanzado la capacidad de viajar por el espacio y explorar nuevas fronteras. La Federación Unida de Planetas, una coalición de diversas especies y civilizaciones, envía naves espaciales, como el USS Enterprise, en misiones de exploración, diplomacia y defensa.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710597735/segundo%20spring/BLADE/BACKGROUND/397372-critica-superheroes-blade-ii_uvdzt6.webp"
    />
    <h2 class="card-h2">Blade</h2>
    <span></span>
    <p class="card-p">
      Un mitad hombre, mitad vampiro protector de los hombres frente a la malicia de los vampiros. Protagonizado por Wesley Snipes.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1711358508/resto%20spring/transformers-11-wallpaper-1600x900_yd9wlc.jpg"
    />
    <h2 class="card-h2">Transformers</h2>
    <span></span>
    <p class="card-p">
      Los Autobots y los Decepticons son dos razas de robots transformables extraterrestres que inician una guerra en la Tierra. Los humanos, con Sam Witwicky (Shiah Labeouf) como abanderado, se ponen del lado de los Autobots.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710598898/segundo%20spring/terminator/background/terminator-2753107_ewwjzs.webp"
    />
    <h2 class="card-h2">Terminator</h2>
    <span></span>
    <p class="card-p">
      Viajes en el tiempo, androides asesinos y tiroteos ideados por James Cameron, con un austríaco Arnold Schwarzenegger que comenzaba a ser una estrella en USA.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710600908/segundo%20spring/xmen/background/e6hWKhmXszRLNSvPRHizZ5-1200-80_s8gfct.jpg"
    />
    <h2 class="card-h2">Xmen</h2>
    <span></span>
    <p class="card-p">
      En un futuro cercano, el planeta está dominado por una nueva especie: los mutantes. Algunos, encabezados por el Dr. Charles Xavier (Patrick Stewart/James McAvoy/Laurence Belcher), abogan por la convivencia pacífica con los humanos. Por su parte, los seguidores de Magneto (Ian McKellen/Brett Morris/Michael Fassbender) quieren exterminar a una raza que consideran inferior.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710601553/resto%20spring/RESIDENTEVIL_zi7g29.jpg"
    />
    <h2 class="card-h2">Resident Evil</h2>
    <span></span>
    <p class="card-p">
      El virus T, creado por la Corporación Umbrella y que convierte a los seres humanos en muertos vivientes, ha penetrado en la atmósfera terrestre. Alice (Milla Jovovich) y sus compañeros de la Umbrella Corporation deberán buscar supervivientes mientras libran batalla contra los zombis.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1711358439/resto%20spring/matrix_q2e7vs.jpg"
    />
    <h2 class="card-h2">Matrix</h2>
    <span></span>
    <p class="card-p">
      Los Hermanos Wachowski revolucionaron el cine con esta película de ciencia ficción. Realidades virtuales y pesadillas futuristas con Neo (Keanu Reeves) de estrella, ademñas de unos F/X revolucionarios
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1711358621/resto%20spring/kate-beckinsale-underworld-5k-pm-1600x900_w40i7l.jpg"
    />
    <h2 class="card-h2">Underworld</h2>
    <span></span>
    <p class="card-p">
      La saga de películas "Underworld" es una serie de películas de acción y horror que se centra en la lucha entre vampiros y licántropos (hombres lobo), con una trama que involucra intriga política, romance y batallas épicas.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1711355931/resto%20spring/Regreso_al_futuro_3_m9yzth.jpg"
    />
    <h2 class="card-h2">Regreso al Futuro</h2>
    <span></span>
    <p class="card-p">
      El adolescente Marty McFly (Michael J. Fox), gracias a la máquina del tiempo que su amigo, el científico loco Doc (Christopher Lloyd), ha instalado en un Delorean DMC-12, puede viajar al pasado y al futuro para modificar su discurrir. Aunque sus actos pueden tener consecuencias catastróficas en el presente...
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1711358430/resto%20spring/fast-and-the-furious-6-1600x900-wallpaper-12424_mmnkha.jpg"
    />
    <h2 class="card-h2">Fast and Furious</h2>
    <span></span>
    <p class="card-p">
      Algo así como las Sagradas Escrituras para los amantes del tuning y las mujeres ligeras de ropa, narra la entrada en el submundo de las carreras ilegales de Brian O'Conner (Paul Walker), un policía infiltrado por el FBI que se dejará atrapar por la el riesgo y la velocidad.
    </p>
  </div>
  <!-- //Spring 3// -->
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710601533/resto%20spring/DEPREDADOR_cnnoc2.jpg"
    />
    <h2 class="card-h2">Depredador</h2>
    <span></span>
    <p class="card-p">
      Una fuerza de élite (comandada por Schwarzenegger) que emprende una misión para rescatar un rehén de una guerrilla ubicada en América Central. Mientras realizan la misión serán a su vez cazados por un extraterrestre que localiza a sus presas por el calor que desprenden.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1711355390/resto%20spring/descarga_izljoi.jpg"
    />
    <h2 class="card-h2">Rambo</h2>
    <span></span>
    <p class="card-p">
      Buscando fabricar una mitología propia y contemporánea, Stallone vampirizó el personaje central de la novela de David Morrell convirtiéndolo en una máquina de matar vietcongs y rusos.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710601539/resto%20spring/robocop-rogue-city-the-fps-that-walks-when-others-run_rews_zlktq9.jpg"
    />
    <h2 class="card-h2">Robocop</h2>
    <span></span>
    <p class="card-p">
      En un futuro no muy lejano la ciudad de Detroit ha sido devastada por el crimen, y los delincuentes campan a sus anchas sin que nadie pueda hacer nada. Cuando el agente Alex J. Murphy (Peter Welles/Robert Burke) es herido durante un asalto, el Departamento de Policía decide convertir su cuerpo en el de un cyborg implacable, capaz de mantener a raya a los malos.
    </p>
  </div>
    <!-- //Spring 4// -->
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710601632/resto%20spring/TRANSPORTER_xr1ig9.png"
    />
    <h2 class="card-h2">Transporter</h2>
    <span></span>
    <p class="card-p">
      Frank Martin (Jason Statham), antiguo operario de las Fuerzas Especiales, trabaja como mercenario transportando en su Mercedes paquetes cuyo contenido, de legalidad dudosa, casi siempre desconoce.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710601727/resto%20spring/VIERNES13_gapeuu.png"
    />
    <h2 class="card-h2">Viernes 13</h2>
    <span></span>
    <p class="card-p">
      Copiando un poquito a Mario Brava (Bahia de Sangre) y un muchito de John Carpenter (La noche de Halloween), Sean S. Cunningham arrasó en 1980 con 'Viernes 13'.Diez títulos más (la mitad de ellos para olvidar) y luego vino el encuentro con Freddy Krueger
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710601721/resto%20spring/ROCKY_ilcr9t.jpg"
    />
    <h2 class="card-h2">Rocky</h2>
    <span></span>
    <p class="card-p">
      Sylvester Stallone dio la campanada con este proyecto personal (guionista de las seis entregas, director de cuatro) recompensado con el Oscar a la mejor película. Historia de superación personal, del valor del perdedor, cuya cuarta entrega acabó, casi, en apología fascista.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710601584/resto%20spring/saw-x-billy_dmgwpw.webp"
    />
    <h2 class="card-h2">Saw</h2>
    <span></span>
    <p class="card-p">
      El malvado psicópata Jigsaw, no contento con asesinar de los modos más macabros a sus víctimas, les obliga a participar en perversas y retorcidas gincanas con la falsa promesa de que el vencedor podrá salvar su vida.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710601893/resto%20spring/SCARYMOVIE_b3spgr.jpg"
    />
    <h2 class="card-h2">Scary Movie</h2>
    <span></span>
    <p class="card-p">
      Los éxitos recientes del cine de terror comercial ('Scream', 'Se lo que hicistéis el último verano', 'The Ring', 'El proyecto de la Bruja de Blair',...) són parodiados sin compasión a lo largo de la saga.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710602001/resto%20spring/SCREAM_k15mzl.avif"
    />
    <h2 class="card-h2">Scream</h2>
    <span></span>
    <p class="card-p">
      Cuando una persona de dudosas facultades mentales y con alguna cuenta pendiente se enfunda el disfraz de Ghostface, aumenta su gusto por la bromas telefónicas... y por asesinar a los indefensos habitantes de Woodsboro.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710602007/resto%20spring/SELOQUEHICISTE_f9ll63.webp"
    />
    <h2 class="card-h2">Se lo que hicisteis...</h2>
    <span></span>
    <p class="card-p">
      Atropellar a un pobre pescador, y en vez de prestarle auxilio lanzar su cadáver al mar, es un acto atroz. Igual de atroz puede ser la venganza si los culpables no se aseguran de que la víctima realmente no respiraba antes de deshacerse de su cuerpo.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710601849/resto%20spring/SHREK_nwdweq.webp"
    />
    <h2 class="card-h2">Shrek</h2>
    <span></span>
    <p class="card-p">
      hrek es un ogro sucio y poco refinado que vive en su ciénaga sin que nadie le moleste. Su vida cambiará cuando rescate a la Princesa Fiona, una bella joven secuestrada en la torre de un castillo protegido por un dragón. Entre ellos surgirá el amor.
    </p>
  </div>
  <!-- //Spring 5// -->
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1711358323/resto%20spring/universal-soldier_1992-wallpaper_gfufw9.webp"
    />
    <h2 class="card-h2">Soldado Universal</h2>
    <span></span>
    <p class="card-p">
      Un experimento del Ejercito de los Estados Unidos permite devolver a la vida a los soldados caídos en combate más valiosos. Entre los UniSols revividos destaca Luc Devreux (Jean-Claude Van Damme), quien murió en Vietnam asesinado por un compañero.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1711358230/resto%20spring/harddie_kcqneg.jpg"
    />
    <h2 class="card-h2">Jungla de Cristal (Hard Die)</h2>
    <span></span>
    <p class="card-p">
      El macarra e indisciplinado policía John McLaine (Bruce Willis) es la peor pesadilla del terrorismo internacional y la mejor garantía para la seguridad de Estados Unidos. Ya pueden intentarlo militares sublevados o hackers informáticos: McLaine siempre acaba con los malos al grito de Yippi Kai Yey MutherFucker!
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1711358106/resto%20spring/piratas-del-caribe-wallpaper_futsih.webp"
    />
    <h2 class="card-h2">Piratas del Caribe</h2>
    <span></span>
    <p class="card-p">
      En el siglo XVIII, el peculiar y amanerado capitán Jack Sparrow (Johnny Depp) surca los mares a bordo del Perla Negra. Junto a sus amigos Will Turner (Orlando Bloom) y Elizabeth Swann (Keira Knightley), vivirá miles de aventuras y se enfrentará a peligrosos enemigos.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1711355855/resto%20spring/film_jaws_web_fqtxtf.jpg"
    />
    <h2 class="card-h2">Tiburón</h2>
    <span></span>
    <p class="card-p">
      Un desconocido y jovencísimo Steven Spielberg hizo que tuviéramos pánico a bañarnos en el mar. Pánico dio también el desmadre de las tres películas que intentaron sacar dinero a costa de una obra maestra.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710602233/resto%20spring/-torrente_vsgheu.webp"
    />
    <h2 class="card-h2">Torrente</h2>
    <span></span>
    <p class="card-p">
      José Luis Torrente (Santiago Segura) es un policía obeso, fascista, marrano y despreciable, amante del Fary y del Atlético de Madrid, cuyos dotes para la investigación dejan mucho que desear. Sin embargo, usando los recursos más bajos, siempre sale victorioso en sus misiones.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710602227/resto%20spring/LAMOMIA_jbpu81.jpg"
    />
    <h2 class="card-h2">La Momia</h2>
    <span></span>
    <p class="card-p">
      Rick O'Connell (Brendan Fraser) y su amada Evelyn Carnahan (Rachel Weisz/Maria Bello) , vivirán trepidantes aventuras en Egipto, bajo la amenaza de momias resucitadas, diabólicos sacerdotes, sectas satánicas y legendarios emperadores chinos.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710602458/resto%20spring/PORKYS_mqzlxo.jpg"
    />
    <h2 class="card-h2">Porky´s</h2>
    <span></span>
    <p class="card-p">
      Antes de 'American Pie', 'Colega, ¿donde está mi coche' o 'Road Trip', Bob Clark inventó eso que ahora conocemos como comedia adolescente. Rozando los límites del mal gusto, narra las aventuras de un grupo de amigos desesperados por perder la virginidad.
    </p>
  </div>
    <!-- //Spring 6// -->
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710602258/resto%20spring/toy-story_znq2tk.webp"
    />
    <h2 class="card-h2">Toy´s Storie</h2>
    <span></span>
    <p class="card-p">
      Cuando Andy sale de su habitación, sus juguetes (con el cowboy Woody y el hombre del espacio Buzz Lightyear a la cabeza) cobran vida para vivir cientos de aventuras. Sus objetivos: ganarse el cariño de su dueño y asegurar la permanencia de todos los juguetes en la casa.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710602498/resto%20spring/poltergeist_linzfu.webp"
    />
    <h2 class="card-h2">Poltergeist</h2>
    <span></span>
    <p class="card-p">
      Muchos niños, cuando son pequeños, hablan con amigos imaginarios. El problema llega cuando estos amigos quieren hacer algo más que hablar y empiezan a manifestarse. Es lo que le sucede a los Freelings, cuando su hija pequeña Carol Anne (Heather O'Rourke) empieza a contactar con espíritus a través del televisor.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1711355724/resto%20spring/Ocean_s_Header_wihwy7.jpg"
    />
    <h2 class="card-h2">Oceans´s Eleven</h2>
    <span></span>
    <p class="card-p">
      Tras salir de la cárcel, Danny Ocean (George Clooney) empieza a formar una banda de habilidosos ladrones, cada uno de ellos poseedor de una habilidad especial, para asaltar los casinos más importantes del mundo. Sus planes són trazados con la mayor originalidad y refinamiento.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710602748/resto%20spring/PESADILLAENELMSSTREET_k0paew.webp"
    />
    <h2 class="card-h2">Pesadilla en Elm Street</h2>
    <span></span>
    <p class="card-p">
      Tras unos años errando en el cine de terror, el cienasta Wes Craven tuvo la idea del siglo: un difunto asesino de niños que vuelve para matar a adolescentes desde los sueños.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710602883/resto%20spring/inmortales-2781109_lemiq8.webp"
    />
    <h2 class="card-h2">Los Inmortales</h2>
    <span></span>
    <p class="card-p">
      Reunión de geniecillos: Gregory Wilden ideando esta raza de inmortales escoceses aficionados a cortar cabezas, Russell Mulcahy dirigiendo con pulso de hierro y los Queen en las canciones. Sí, y Christopher Lambert.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710602797/resto%20spring/soloencasa_kqct57.webp"
    />
    <h2 class="card-h2">Solo en Casa</h2>
    <span></span>
    <p class="card-p">
      Un niño, sin la protección de sus padres, es, a priori, presa fácil para ladrones, secuestradores y toda clase de delincuentes. Pero en 'Solo en casa', los niños no són tan inocentes como parece.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710602894/resto%20spring/spiderman_maxajw.webp"
    />
    <h2 class="card-h2">Spiderman</h2>
    <span></span>
    <p class="card-p">
      Tras sufrir la picadura de una araña, el tímido estudiante Peter Parker (Tobey Maguire) empieza a notar que su cuerpo adquiere superpoderes. Pronto descubrirá que, como le advirtió su tío Ben, un gran poder conlleva siempre una gran responsabilidad.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710603081/resto%20spring/spykids_ex6ju9.webp"
    />
    <h2 class="card-h2">Spy Kids</h2>
    <span></span>
    <p class="card-p">
      El matrimonio Cortez (Antonio Banderas y Carla Gugino) y sus hijos forman una familia aparentemente normal. Pero en realidad son superespías internacionales que tendrán que hacer frente a toda clase de enemigos.
    </p>
  </div>
  <!-- //Spring 7// -->
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710603121/resto%20spring/superdetective-en-hollywood_zkwqak.jpg"
    />
    <h2 class="card-h2">Superdetective en Hollywood</h2>
    <span></span>
    <p class="card-p">
      Axel Foley (Eddie Murphy), un impetuoso y resolutivo detective de Detroit, debe hacer frente a los más peligrosos asesinos y narcotraficantes del lugar.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1711357766/resto%20spring/superman-4khenry-tj-1600x900_wqqqu5.jpg"
    />
    <h2 class="card-h2">Superman</h2>
    <span></span>
    <p class="card-p">
      El inmortal tebeo de de Jerry siegel y Joe Shuster se convirtió en icono del cine de finales de los 70 gracias a la técnica de hacer volar a Christopher Reeve. Tres continuaciones y una decepcionante revisión de Bryan Singer forman la saga de Superman.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710603139/resto%20spring/locaacademiadepolicia_pdh0ty.webp"
    />
    <h2 class="card-h2">Loca Academia de Policia</h2>
    <span></span>
    <p class="card-p">
      El director Hugh Wilson y el guionista Neal Israel vieron que reírse de los polis era algo que no se hacía desde el cine mudo y los Keystone Cops, así que reunieron a un montón de personajes incompetentes y los matricularon en una academia de descerebrados
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710603678/resto%20spring/jamesbond_p2fxyf.avif"
    />
    <h2 class="card-h2">James Bond</h2>
    <span></span>
    <p class="card-p">
      Creación literaria de Ian Fleming, James Bond lleva desde 1962 (Agente 007 contra el Doctor No, Terence young) salvando al mundo de villano megalómanos. 23 títulos oficiales (con la de 2012) que la han convertido en un hito.Sean Connery, George Lazenby, Roger Moore,Timothy Dalton,Pierce Brosnan y Daniel Craig han encarnado a 007
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710603668/resto%20spring/american_pie_c9fd2h.jpg"
    />
    <h2 class="card-h2">American Pie</h2>
    <span></span>
    <p class="card-p">
      El despertar sexual de un grupo de amigos tan salidos como inexpertos dará pie a infinitud de secuencias embarazosas desde el momento en que apuestan por ver quien es capaz de perder la virginidad antes de que acabe el último año de instituto.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710603656/resto%20spring/madmax_qm9cld.jpg"
    />
    <h2 class="card-h2">Mad Max</h2>
    <span></span>
    <p class="card-p">
      Saga de carácter distópico que retrata un futuro en el que las pandillas de motoristas dominan las carreteras de Autralia y la sociedad se desmorona. La Patrulla de Fuerza Central se encarga de mantener la seguridad vial. En ella trabaja Max Rockatansky (Mel Gibson), quien intentará mantener a los vándalos a raya.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710603704/resto%20spring/arma-letal_srpxbi.webp"
    />
    <h2 class="card-h2">Arma Letal</h2>
    <span></span>
    <p class="card-p">
      Martin Riggs (Mel Gibson), un hombre con tendencias suicidas, y Roger Murtaugh (Danny Glover), mucho más maduro y responsable, forman una extraña pareja de policías en Los Ángeles. Juntos deberán hacer frente a un sinfín de enemigos: contrabandistas, traficantes de armas, mafiosos asiáticos,...
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1711357874/resto%20spring/austin_a6ytsp.jpg"
    />
    <h2 class="card-h2">Austin Powers</h2>
    <span></span>
    <p class="card-p">
      Austin Powers (Mike Myers) es un peculiar agente británico de estilo retro y con un inusitado éxito entre las mujeres, algo así como una caricatura de James Bond. Su objetivo será frustrar una y otra vez los planes del malvado Doctor Maligno (Mike Myers), mientras se ligar a las más bellas y fogosas espías internacionales.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710604066/resto%20spring/cocdrilodundee_fxxwq9.jpg"
    />
    <h2 class="card-h2">Cocodrilo Dundee</h2>
    <span></span>
    <p class="card-p">
      Michael Dundee (Paul Hogan) es un salvaje cazador de cocodrilos que vive en una remota selva australiana. Cuando una reportera norteamericana (Linda Kozlowski) venga a conocerle y se lo lleve a Estados Unidos, su manera de entender la vida chocará con las costumbres y la vida moderna de la ciudad.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710603903/resto%20spring/lospadresdeella_iw5wro.jpg"
    />
    <h2 class="card-h2">Los Padres de Ella</h2>
    <span></span>
    <p class="card-p">
      El romance entre Greg Focker (Ben Stiller) y su novia Pam (Teri Polo) sería ideal si no fuese por que el padre de ella, el estricto y autoritario agente de la CIA Jack Byrnes (Robert De Niro) no acaba de ver con buenos ojos a su nuevo yerno. Entre ambos nacerá una complicadísima (y desternillante) relación.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1711357512/resto%20spring/critter_edrsrz.jpg"
    />
    <h2 class="card-h2">Critters</h2>
    <span></span>
    <p class="card-p">
      Los Critters son unas criaturas alienígenas peludas y malvadas cuya forma sería una mezcla de puercoespín y albóndiga. Su único objetivo en la vida es comer y reproducirse, para tormento de los humanos, quienes deberán encontrar el modo de huir de su hambre voraz.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710603881/resto%20spring/las-cronicas-de-narnia-el-leon-la-bruja-y-el-armario-2005_gl6kva.webp"
    />
    <h2 class="card-h2">Las Crónicas de Narnia</h2>
    <span></span>
    <p class="card-p">
      El mundo de Narnia, al que se accede a través de un armario mágico, es un universo fantástico para los niños. Liderado por el león Aslan, está repleto de animales mitológicos, hadas y duendes. Pero la malvada Bruja Blanca ha condenado Narnia a un invierno perpetuo.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1711357442/resto%20spring/bourne_kjhscm.jpg"
    />
    <h2 class="card-h2">El Caso Bourne</h2>
    <span></span>
    <p class="card-p">
      Un agente secreto pierde la memoria y emprende la búsqueda de su identidad mientras elude a sus ex-compañeros que tratan de matarlo. Se trata de Jason Bourne, agente de Treadstone, una organización ilegal organizada por el gobierno de Estados Unidos. Un pelotazo en la carrera de Matt Damon.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710603858/resto%20spring/destino-final-5_tdxpix.webp"
    />
    <h2 class="card-h2">Destino Final</h2>
    <span></span>
    <p class="card-p">
      Un jóven tiene una premonición y consigue salvar a su grupo de amigos de la muerte. Pero la muerte volverá a por ellos.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710603848/resto%20spring/muneco-diabolico-remake-chucky-1535439024_xaw259.jpg"
    />
    <h2 class="card-h2">Muñeco Diabolico</h2>
    <span></span>
    <p class="card-p">
      Un muñeco es poseído por medio de magia vudú por un asesino en serie, Charles Lee Ray. Un juguete infantil se convierte en una máquina de matar
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710603830/resto%20spring/el-padrino-el-clasico-de-los-clasicos_z9uthb.jpg"
    />
    <h2 class="card-h2">El Padrino</h2>
    <span></span>
    <p class="card-p">
      Narra el paso de los años en el seno de la familia Corleone, una de las cinco familias de la mafia de Nueva York, desde los años en que Vito Corleone (Marlon Brando) era el capo hasta el momento en que su sucesor Michael Corleone (Al Pacino) cansado y envejecido, busca a su heredero.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710603761/resto%20spring/harryelsucio_fmn5tb.jpg"
    />
    <h2 class="card-h2">Harry El Sucio</h2>
    <span></span>
    <p class="card-p">
      Harry Callahan (Eastwood) es un poli que piensa que la ley es demasiado indulgente con los delicuentes; por eso imparte justicia, en cinco películas, con su descomunal Magnum del 44.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710603745/resto%20spring/cube_v6dnjs.webp"
    />
    <h2 class="card-h2">Cube</h2>
    <span></span>
    <p class="card-p">
      Un grupo de personas despierta, sin saber cómo han llegado, en un laberinto compuesto por habitaciones cúbicas idénticas entre sí, algunas de las cuáles esconden trampas mortíferas.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710603734/resto%20spring/Hora_punta_bhf5dz.webp"
    />
    <h2 class="card-h2">Hora Punta</h2>
    <span></span>
    <p class="card-p">
      Buddy movie que narra las aventuras de dos policías muy distintos, pero condenados a entenderse: el Inspector Lee (Jackie Chan) de la Royal Hong Kong Police, y el agente de Los Ángeles James Carter (Chris Tucker). Ambos aúnan sus fuerzas para rescatar a la hija del consul chino y frustrar los objetivos de las Tríadas asiáticas.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710603719/resto%20spring/iceage_xkzfi7.webp"
    />
    <h2 class="card-h2">Ice Age</h2>
    <span></span>
    <p class="card-p">
      Durante la era glaciar, todos los animales migran hacia el sur en busca de tierras más cálidas. Todos excepto el mamut Manny, quien decide ir hacia el norte solo por llevar la contraria. En su camino conoce al perezoso y charlatán Sid y al noble tigre dientes de sable Diego. Mientras tanto, la ardilla Scrat arriesga su vida persiguiendo una bellota.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1711356475/resto%20spring/jack_ryan_daj4dr.avif"
    />
    <h2 class="card-h2">Saga Jack Ryan</h2>
    <span></span>
    <p class="card-p">
      om Clancy escribió este personaje, Jack Ryan, un agente de la CIA que lidia con un problema relacionado con momentos históricos. Los rusos, ataques nucelares o el IRA. Interpretado por Harrison Ford, Alec Baldwin ó Ben Affleck.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1711356566/resto%20spring/Karate-Kid_kxwmnk.webp"
    />
    <h2 class="card-h2">Karate Kid</h2>
    <span></span>
    <p class="card-p">
      Rocky para adolescentes y con las artes marciales en vez del boxeo. Repite el director de la cinta de Stallone, John G. Avildsen y Robert Mark Kamen fue el guionista de las tres entregas oficiales. Lo de la chica karateca es otra historia
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1711356817/resto%20spring/neverending_ofkqdj.jpg"
    />
    <h2 class="card-h2">La Historia Interminable</h2>
    <span></span>
    <p class="card-p">
      Bastian (Barret Oliver/Jonathan Brandis/Jason James Richter) devora con pasión las páginas del libro 'La historia interminable', en las que una especie de Nada misteriosa está destruyendo el Reino de Fantasía. Pronto descubre que la supervivencia de este mundo depende de él.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1711357051/resto%20spring/hellothe_omen_crimson_quill-3_msgle7.webp"
    />
    <h2 class="card-h2">La Profecia</h2>
    <span></span>
    <p class="card-p">
      El embajador Robert Thorn (Gregory Peck) y su esposa deciden adoptar al pequeño Damien (Harvey Stephens/Jonathan Scott-Taylor/Sam Neill/Tomas Wooler/Seamus Davey-Fitzpatrick). Mala idea, pues éste resulta ser el hijo de Satanás, y ha aterrizado en la Tierra con órdenes estrictas de su padre: debe dominar el mundo. Damien no dudará en quitar de en medio a quien ose interponerse en su camino.
    </p>
  </div>
  <div class="card" #card>
    <img
      src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1711356378/resto%20spring/megalodon_eljkks.jpg"
    />
    <h2 class="card-h2">Megalodon</h2>
    <span></span>
    <p class="card-p">
      Anteriormente se creía extinto, una criatura masiva ataca a un submarino de aguas profundas, dejándolo deshabilitado y atrapando a la tripulación en el fondo del Pacífico. Con el tiempo agotándose, un oceanógrafo visionario recluta al buceador de rescate Jonas Taylor para salvar a la tripulación y al mar mismo de una amenaza inimaginable: un tiburón prehistórico conocido como el Megalodón, que mide 75 pies de longitud.
    </p>
  </div>
  <div class="card" #card>
    <img src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1711356285/resto%20spring/men-in-black-3-1600x900-wallpaper-8815_zsj4q1.jpg" />
    <h2>Men In Black</h2>
    <span></span>
    <p class="card-p">
        Son el secreto mejor guardado en el universo. Trabajando para una agencia gubernamental altamente financiada pero no oficial, Kay (Tommy Lee Jones) y Jay (Will Smith) son los Hombres de Negro, proveedores de servicios de inmigración y reguladores de todo lo relacionado con alienígenas en la Tierra. Mientras investigan una serie de encuentros cercanos no registrados, los agentes de MIB descubren el mortal complot de un terrorista intergaláctico que está en una misión para asesinar a dos embajadores de galaxias opuestas que actualmente residen en la ciudad de Nueva York.
    </p>
  </div>
  <div class="card" #card>
    <img src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1711356029/resto%20spring/batman-throne-dark-art_ahdnbb.jpg" />
    <h2>Batman</h2>
    <span></span>
    <p class="card-p">
      Batman se aventura en el submundo de Ciudad Gótica cuando un asesino sádico deja tras de sí una serie de pistas crípticas. A medida que la evidencia comienza a acercarse al hogar y la escala de los planes del perpetrador se hace evidente, él debe forjar nuevas relaciones, desenmascarar al culpable y llevar la justicia al abuso de poder y corrupción que ha plagado la metrópolis durante mucho tiempo.
    </p>
  </div>
  <div class="card" #card>
    <img src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1711356211/resto%20spring/warren_gfv2qp.jpg" />
    <h2>Insidious</h2>
    <span></span>
    <p class="card-p">
      Los padres (Patrick Wilson, Rose Byrne) toman medidas drásticas cuando parece que su nuevo hogar está embrujado y su hijo en coma está poseído por una entidad maligna.
    </p>
  </div>
  <!-- <div class="card" #card>
    <img src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710775401/resto%20spring/Expediente_Warren_The_Conjuring-620173458-large_q1poaw.jpg" />
    <h2>Expediente Warren</h2>
    <span></span>
    <p class="card-p">
      En 1970, los investigadores paranormales y demonólogos Lorraine (Vera Farmiga) y Ed (Patrick Wilson) Warren son convocados a la casa de Carolyn (Lili Taylor) y Roger (Ron Livingston) Perron. Los Perron y sus cinco hijas se han mudado recientemente a una granja aislada, donde una presencia sobrenatural ha hecho su presencia conocida. Aunque las manifestaciones son relativamente benignas al principio, los eventos pronto escalan de manera aterradora, especialmente después de que los Warren descubren la macabra historia de la casa.
    </p>
  </div> -->

</div>
