<div class="main-container">
  <h2 class="main-title">Immortal`s Movies Hub</h2>
  <p class="main-parragraph">
    Aqui podras descubrir todo lo que siempre quisiste saber sobre tus sagas de peliculas preferidas.
  </p>
  <p class="main-parragraph">
  </p>
  <menu class="main-menu">
      <button class="main-menu-button"[routerLink]="'/auth/login'">Login</button>
      <button class="main-menu-button"[routerLink]="'/auth/register'">Register</button>
  </menu>
</div>

<div class="wrapper">
  <div class="card" #card>
    <img src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710359118/Dune/Backgrounds/dune-01_jvxkb3_m35kii.jpg" />
    <h2>Dune</h2>
    <span>Planeta Arrakis</span>
    <p>
      La saga de películas Dune está basada en la serie de novelas escritas por Frank Herbert, ambientadas en un futuro lejano, donde la especia, la melange domina el universo, y solo se puede extraer de Dune.</p>
  </div>
  <div class="card" #card>
    <img src="https://images.unsplash.com/photo-1632395627727-3b97d0724814?q=80&w=400" />
    <h2>Pandora</h2>
    <span>The icy heaven</span>
    <p>The planet Pandora, as it's called by most scientists, is an ice planet in a densely populated solar system with twelve other planets.
      Pandora is about 8.9 times bigger than Earth and its gravity is about 7.47 times that of Earth.</p>
  </div>
  <div class="card" #card>
    <img src="https://images.unsplash.com/photo-1632395627732-005012dbc286?q=80&w=400" />
    <h2>Mondas</h2>
    <span>The volcanic child</span>
    <p>The planet Mondas, which is a name which is still disputed, is a rogue planet in a vast solar system with fifteen other planets.
      Mondas is about 38.8 times bigger than Earth and its gravity is about 9.98 times that of Earth.</p>
  </div>
  <div class="card" #card>
    <img src="https://res.cloudinary.com/dqh5ovfj1/image/upload/v1710510527/Alien/Characters/Queen_Alien_rxlrwh.jpg" />
    <h2>Alien</h2>
    <span>El Octavo Pasajero</span>
    <p>La saga de películas Alien es una serie de películas de ciencia ficción y terror que comenzó en 1979 con la película "Alien", dirigida por Ridley Scott. Posteriormente se realizaron dentro de esta etapa hasta 3 peliculas. Mas tarde se iniciaron dos nuevas ramas, los crossver con la saga de Depredador y la saga de Prometheus</p>
  </div>
  <div class="card" #card>
    <img src="https://images.unsplash.com/photo-1614732414444-096e5f1122d5?q=80&w=400" />
    <h2>Tarantulon</h2>
    <span>The continent planet</span>
    <p>The planet Tarantulon, named after a famous scientist, is a carbon planet in a thinly populated solar system with only seven other planets.
Tarantulon is about 0.9 times bigger than Earth and its gravity is about 2.67 times that of Earth.</p>
  </div>
  <div class="card" #card>
    <img src="https://images.unsplash.com/photo-1614313913007-2b4ae8ce32d6?q=80&w=400" />
    <h2>Eternium</h2>
    <span>The magical night</span>
    <p>The planet Eternium, named so for its similarities to the fictional version, is an ice planet in a thinly populated solar system with only ten other planets.
Eternium is about 2.1 times bigger than Earth and its gravity is about 12.64 times that of Earth.</p>
  </div>
  <div class="card" #card>
    <img src="https://images.unsplash.com/photo-1532795077981-fc1c26555bd4?q=80&w=400" style="transform: rotate(100deg)"/>
    <h2>Amva 110</h2>
    <span>The dwarf tween</span>
    <p>The planet Amva 110, is a tween planet of Amva 109 in a fairly large solar system with twenty other planets. Amva 110 is about 2 times bigger than Earth and its gravity is about 0.5 times that of Earth.</p>
  </div>
  <div class="card" #card>
    <img src="https://images.unsplash.com/photo-1632395627727-3b97d0724814?q=80&w=400" style="transform: rotate(100deg); filter: sepia(0.8)" />
    <h2>Pandora-2</h2>
    <span>The foggy brother</span>
    <p>The planet Pandora-2, is the brother of Pandora and a foggy planet in a densely populated solar system with twelve other planets. Pandora-2 is about 10.5 times bigger than Earth and its gravity is about 4.20 times that of Earth.</p>
  </div>
</div>

